.cookie-consent-popup {
    display: none;
    /*position: fixed;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*z-index: 999999;*/
}

.cookie-consent-popup.open {
    display: block;
}

.cookie-consent-controls {
    display: none;
}

.cookie-consent-controls.open {
   display: block;
}

.cookie-consent-details {
    display: none;
}

.cookie-consent-details.open {
    display: block;
}

